<div class="index_pic"></div>
<div class="index_pop" id= "login_pop">
	<%= render 'login' %>
</div>

<div class="index_pop" id="register_pop">
	<%= render 'new' %>
</div>

<div class="promo"></div>
<div class="steps">
	<div class="step" id="step_1">Step 1</div>
	<div class="step" id="step_2">Step 2</div>
	<div class="step" id="step_3">Step 3</div>
</div>

<div class="reviews">This is where the reviews</div>

<!-- <h4> Forgot Password? </h4> -->
<!--above info will be in a popup -->
