/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: 'Poppins', sans-serif;
}

/*login{
	position: absolute;
	margin-left: auto;
	font-size: 150%;
	bottom: 0.2em;
	right: 1.2em;
	width: auto;
}

.login{
	color: gray;
	cursor: pointer;
}
*/

.fa {
  color: #8e24aa;
  padding: .25em;
}

.links ul li a {
  float: left;
  font-size: 18px;
  padding: .5em .5em;
}
.links ul li a:hover {
  color: #8e24aa;
  background-color: transparent;
  padding: 1em .5em;
}

button .btn h5 {
padding-bottom: 5em;
border: 5px #8e24aa solid,
}

button:hover {
  color: #8e24aa;
  height: 3.5em;
}

.left-footer {
  margin-left: 25%;
}
.nav-padding {
  padding: 0em 3.25em;
}
