/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: 'Poppins', sans-serif;
  }

main {
    flex: 1 0 auto;
  }

/*login{
	position: absolute;
	margin-left: auto;
	font-size: 150%;
	bottom: 0.2em;
	right: 1.2em;
	width: auto;
}

.login{
	color: gray;
	cursor: pointer;
}
*/

.fa {
  color: #8e24aa;
  padding: 0em .2em 0 .25em;
}

ul li {
  display: inline;
  font-size: 20px;
  padding: .4em;
}

.nav-settings {
  font-size: 1.25em;
  padding: 0 3.25em;
}

a.brand-logo {
  font-size: 4.25em;
  padding: 0 3.25em;
}

#nav-mobile a {
  color: white;
  border-radius: .25em;
  padding: .125em;
}

#nav-mobile a:hover {
  background-color: #ffff00;
  color: #8e24aa;
  border-radius: .25em;
  padding: .25em;
}


.brand-logo img {
  height: 60px;
  width: 40px;
  /*transition: 1s;*/
}

.row .nav-warpper .brand-logo span {
  font-size: 6em;
}



#footer {
  font-size: 1.25em;
  border-top: 1px solid #bdbdbd;
  margin-top: 0px;
}
