// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profiles.show {
	padding: 0;
	margin: 0em 0em 1em 0em;
}

.profiles .banner {
	padding: 1em;
	text-align: right;
	border-bottom: 1px solid #9e9e9e;
	font-size: 4em;
	overflow-y: hidden;
	height: 2.5em;
	width: 100%;
}

.profiles .profile_container{
	/*border-top: 1px solid #616161;*/
	position: relative;
	top: 0em;
	width: 100%;
	height: 40em;
	margin-bottom: 2em;
}

.profiles .side_panel{
	display: flex;
	overflow-y: hidden;
	padding-top: 0em;
	padding-right: 1em;
	float: left;
	box-sizing: inline;
	height: 100%;
	width: 28%;
	z-index: 1;
}

.profiles div.accordion{
	padding: .5em;
	font-size: 1.5em;
	cursor: pointer;
	color: #616161;
	transition: 0.2s;
}

.profiles.show div.accordion:hover{
	padding: .5em;
	background-color: #ffff00;
	color: #8e24aa;
	border-radius: .25em;
}

.profiles.show div.accordion:active{
	padding: .5em;
	color: #8e24aa;
}


// .profiles .navig {
// 	font-size: 180%;
// 	position: relative;
// 	text-align: right;
// 	top: 0.8em;
// 	width: 100%;
// 	height: 100%;
// 	margin: 0;
// 	left: 0em;
// 	z-index: 3;
// 	overflow-y: hidden;
// }

.profiles.show div.panel{
	display: none;
	color: #9e9e9e;
	background-color: white;
	margin-top: 0.4em;
	margin-bottom: 1em;
}

.profiles.show div.panel a{
	padding-top: .25em;
	font-size: 1.65em;
	color: #616161;
}
.profiles.show div.panel a:hover{
	padding: .25em;
	padding-left: 1.5em;
	color: #8e24aa;
}

.profiles.show .show{
	background-color: #8e24aa;
	display: block !important;
}

.profiles.show .side_links {
	padding: .5em;
	font-size: 1.5em;
	transform: translate(-4px, 0);
	color: #616161;
}
.profiles.show .side_links:hover {
	padding: .5em;
	color: #8e24aa;
	background-color: #ffff00;
	border-radius: .25em;
}

.profiles.show .side_links:active {
	padding: .5em;
	color: #8e24aa;
}



.profiles.show #history{
	transform: translate(4px, 0);
}
// .profiles.show a{
// 	/*transform: translateX(4px, 0); */
// 	color: #616161;
// }
//
// .profiles.show a:hover {
// 	/*background-color: white;*/
// 	color: #8e24aa;
// }

.profiles .pointer{
	cursor: pointer;
}

.profiles.show .radio_container{
	border: 1px solid black;
	display: flex;
	top: -15.5em;
	width: 100%;
	height: 10em;
}

.profiles.show .radio{
	text-align:left;
	font-size: 1.25em;
	margin-bottom: 2em;
}

.profiles .main_panel{
	border-left: 1px solid #9e9e9e;
	overflow-y: scroll;
	padding-top: 2%;
	padding-left: 1%;
	// float: right;
	box-sizing: inline;
	margin-left: auto;
	height: 99%;
	width: 72%;
}

.profiles.show .main_panel table {
	position: relative;
	padding-left: 0.75em;
	left: 10%;
	width: 50%;
}

.profiles.show .main_panel form{
	position: relative;
	left: 10%;
	width: 60%;
}

.profiles.show .main_panel input{

}

.profiles.show .main_panel h5{
	margin-left: -3.7em;
}

.profiles.show #billing{
	margin-left: 0em;
}

.profiles.show .main_panel h6{
	display: flex;
	box-sizing: inline;
}

.profiles.show .main_panel #edit_user{
	transform: translate(-10px, 0);
}
.profiles.show strong {
	font-size: 18px;
}

.profiles.show .dis_title {
	font-size: 3em;
	font-family: 'Poppins', sans-serif;
}

.profiles.show .step_container{
    position: fixed;
    background-color: #fafafa;
		border-radius: .25em;
    padding: 1%;
		margin-top: 3em;
    margin-left: 7em;
    width: 55%;
    min-height: 80%;
}

.profiles.show .step_container p {
	text-align: center;
}

.profiles.show .user_exit{
    display: flex;
		float:right;
		color: #616161;
		font-size: 1.5em;
    height: 2.25em;
    width: 2.25em;
		border-color: transparent;
		background-color: #fafafa;
}

.profiles.invoice {
	padding: 2.3em;
	/*margin: 0em 0em 1em 0em;*/
}

.profiles.invoice .invoice_boxes{
	margin: 3em;
}

.profiles.invoice table{
	display: center;
	position: relative;
	padding-left: 0.5em;
	left: 10%;
	width: 75%;
}

.profiles.invoice .paper{
	display: center;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 1em 2em 4em;
	border: 1px solid;
	width: 68%;
	height: 90%;

}
