// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profiles {
	padding: 0;
	margin: 0em 0em 1em 0em;
}

.profiles.show .banner{
	border: 1px solid black;
	height: 8em;
	width: 100%;
}
.profiles.show .profile_container{
	position: relative;
/*	border: 1px solid black;*/
	top: 0em;
	width: 100%;
	height: 50em;
	margin-bottom: 1.2em;
}

.profiles.show .side_panel{
	display: flex;
	overflow-y: hidden;
	padding-top: 0em;
	padding-right: 1em;
	float: left;
	box-sizing: inline;
	height: 100%;
	width: 28%;
	z-index: 1;
}
.profiles.show div.accordion{
	cursor: pointer;
	transition: 0.4s;
	margin-bottom: 0.7em;
}
.profiles.show .navig{
	
	font-size: 180%;
	position: relative;
	text-align: right;
	top: 0.8em;
	width: 100%;
	height: 100%;
	margin: 0;
	left: 0em;
	z-index: 3;
	overflow-y: hidden;
}

.profiles.show div.panel{
	display: none;
	background-color: white;
	margin-top: 0.4em;
	margin-bottom: 0.8em;
}

.profiles.show div.panel.show{
	display: block !important;
}

.profiles.show .side_links {
	margin-bottom: 0.7em;
}

.profiles.show .main_panel{
	position: flex;
	border-left: 1px solid black;
	padding-top: 1em;
	padding-left: 1.2em;
	float: right;
	box-sizing: inline;
	margin-left: auto;
	height: 99%;
	width: 72%;
	z-index: 1;
}

.profiles.show .step_container{
	position: fixed;
	border: 1px solid black;
	background-color: white;
	margin-left: auto;
	width: 42em;
	height: 45em;
	z-index: 3;
}

.profiles.show .user_exit{
	display: flex;
	cursor: pointer;
	margin-left: auto;
	padding-left: auto;
	padding-right: auto;
	font-size: 120%;
	top: 0em;
	right: 1em;
	height: 1em;
	width: 1em;
}


.profiles.show .ref_code{
	position: relative;
	border: 1px solid black;
	top: 5.5em;
	width: 100%;
	height: 9em;
	margin-bottom: 1.2em;
}

.profiles.show .faq{
	position: relative;
	border: 1px solid black;
	top: 5.5em;
	width: 100%;
	height: 20em;
	margin-bottom: 1.2em;
}
.profiles.show footer{
	top: 5.5em;
}

.profiles.delivery {
	padding-top: 6em;
	padding-left: 3em;
	padding-right: 3em;
}


