// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sessions.new .index_pop {
    background-color: white;
    position: fixed;
    padding: 1em;
    border-radius: 1em;
    top: 12em;
    width: 35em;
    height: 30em;
    z-index: 3;
    color: black;
}

.input#text:focus {
  border-bottom: 1px black solid;
}

label:active {
  color: black;
}

.input-field {
  color: black;
  font-weight: bold;
}

.login-button button:hover {
  color: white;
}

.forgot-pass{
  float: right;
  margin-right: 15%;
  margin-top: 2.5%;
}
.sessions.new .index_pop h3 {
  justify-content: center;
}
// .sessions.new #login_pop{
//
// }
//
.sessions.new #register_pop{
    height: 39em;
}

.sessions.new .index_exit{
    display: flex;
    cursor: pointer;
    margin-left: auto;
    padding-left: auto;
    padding-right: auto;
    font-size: 120%;
    top: 0em;
    right: 1em;
    height: 1em;
    width: 1em;
    color: #8e24aa;
}

.home-top {
  height: 450px;
  // background-color: white; opacity: .65;
  background-image: url("planner_yellow_fade.jpg");
  // background-image: url('https://s3.amazonaws.com/tombox/tomheader.jpg');
  background-attachment: fixed;
  max-width: 100%;
  background-size: cover;
}


.mission-header {
  font-family: 'Poppins', sans-serif;
  color: #8e24aa;
  font-size: 12em;
  -webkit-text-stroke-width: .075em;
  -webkit-text-stroke-color: #8e24aa;
  padding: .5em 0 .25em .1em;
  z-index: 1;
}


.mission-statement {
  font-family: 'Rock Salt', cursive;
  max-width: 27%;
  color: black;
  font-size: 2.6em;
  line-height: 1.35em;
  padding-left: .8em;
}

.feature_in {
    margin-top: 75px;
    padding-top: 6em;
}

.press_logo img {
  height: 100px;
  width: 250px;

}


.reviews {
  background-image: url("TOM-emoticons2.png");
  opacity: .75;
  // background-size: contain;
  background-attachment: fixed;
  background-position: bottom;
	height: 350px;
}

.img-home {
	margin-left: 0;
	height: 100%;
	width: 100%;
}


.breaker {
  justify-content: center;

}
.period-surprise {
  margin-left: 7%;
}

.easy_women {
  padding: .1em;
}


.surprises {
  display: none;
  color: #8e24aa;

}

.how-to {
  padding-bottom: 5em;
}
p.light {
  text-align: justify;
  font-size: 14px;
}

.how-to-title {
  font-size: 1.75em;
  line-height: normal;
  color: #8e24aa;
}

.how-to-description {
  font-size: .75em;
  line-height: normal;
    text-align: justify;
}
.how-to-icon  {
justify-content: center;
border-radius: 50%;
background-color: yellow;
height: 175px;
width: 175px;
margin-left: 30%;
}

.how-to-icon img {
  height: 125px;
  width: 125px;
  padding: 10px;
}

/*chevron css */
.chevrons { width: 100%;  z-index: 0; }
.chevrons div { width: 100%; }
.chevrons div b { color: purple; display: block; float: left; position: relative; margin: -31px 0 .75em 0px; height: 4em; width: 20%; text-indent: -8989px; }
.chevrons div b:before { content: ''; position: absolute; top: 0; left: 0; height: 100%; width: 50%; transform: skew(0deg, 22deg); }
.chevrons div b:after { content: ''; position: absolute; top: 0; right: 0; height: 100%; width: 50%; transform: skew(0deg, -22deg); }

.chevrons div:nth-child(odd) b:after,
.chevrons div:nth-child(odd) b:before { background: silver; }
.chevrons div:nth-child(even) b:after,
.chevrons div:nth-child(even) b:before { background: white; }

.chevrons div b:before,
.chevrons div b:after { transition: background-color 1s; }

.chevrons div:hover {} /*needed for transition in IE10*/
.chevrons div:hover b:before,
.chevrons div:hover b:after { background: purple; }
