// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sessions.new .index_pop {
    border: 1px solid black;
    background-color: white;
    position: fixed;
    padding: 1em;
    border-radius: 1em;
    top: 12em;
    width: 35em;
    height: 30em;
    z-index: 3;
}

.sessions.new #login_pop{

}

.sessions.new #register_pop{
    height: 38em;
}

.sessions.new .index_exit{
    display: flex;
    cursor: pointer;
    margin-left: auto;
    padding-left: auto;
    padding-right: auto;
    font-size: 120%;
    top: 0em;
    right: 1em;
    height: 1em;
    width: 1em;
}

.home-top {
	margin: 0;
	padding: 0;
	height: 375px;
	width:inherit;
	background-color: yellow;
}


.featured_in{
    margin-top: 10px;
    font-size: 20px;
}

.press_logo img {
  height: 100px;
  width: 250px;

}

.home-bottom {
	height: 450px;
	background-color: green;
}

.reviews {
	background-color: orange;
	height: 200px;
}

.img-home {
	margin-left: 0;
	height: 100%;
	width: 100%;
}

.circle {
	background-color: #8e24aa;
	width: 17em;
	height: 17em;
	margin-left: auto;
	margin-right: auto;
}

.woman {
  z-index: auto;
  border: 1px purple solid;
  background: silver;
}

.chevrons { width: 100%;  z-index: 0; }

.chevrons div { width: 100%; }

.chevrons div b { color: purple; display: block; float: left; position: relative; margin: -31px 0 .75em 0px; height: 4em; width: 20%; text-indent: -8989px; }

.chevrons div b:before { content: ''; position: absolute; top: 0; left: 0; height: 100%; width: 50%; transform: skew(0deg, 22deg); }
.chevrons div b:after { content: ''; position: absolute; top: 0; right: 0; height: 100%; width: 50%; transform: skew(0deg, -22deg); }

.chevrons div:nth-child(odd) b:after,
.chevrons div:nth-child(odd) b:before { background: silver; }
.chevrons div:nth-child(even) b:after,
.chevrons div:nth-child(even) b:before { background: white; }

.chevrons div b:before,
.chevrons div b:after { transition: background-color 1s; }

.chevrons div:hover {} /*needed for transition in IE10*/
.chevrons div:hover b:before,
.chevrons div:hover b:after { background: purple; }
