<form action="<%= profile_charges_path(@profile) %>" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key= '<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>'
    data-amount="Subscribe"
    data-name="TOM BOX"
    data-description="TOM monthly Subscription"
    data-image="https://s3.amazonaws.com/tombox/Screen+Shot+2016-08-09+at+12.41.00+PM.png"
    data-locale="auto"
    data-zip-code="true">
  </script>
</form>
