<form action="<%= profile_charges_path(@profile) %>" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key= '<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>'
    data-amount="Subscribe"
    data-name="TOM BOX"
    data-description="TOM monthly Subscription"
    data-image="/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="true">
  </script>
</form>
